@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}
html{
    scroll-behavior: smooth;
}

body{
    background-image: url(../images/contact-background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.goUp{
    display: none;
}

i{
    cursor: pointer;
}

a{
    text-decoration: none;
    cursor: pointer;
}

header{
    width: 100%;
    height: 8vw;
    background-position: top;
    overflow: hidden;
}
.goUp i{
    color: white;
}

header .section{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.container{
    width: 90%;
    margin: 0 auto;
    height: 100%;
}

@media screen and (min-width:768px) {
    #hanburger_icon, #close_icon{
        display: none;
    }
    .goUp{
        font-size: 3vw;
        height: 5vw;
        width: 5vw;
    }
    nav{
        justify-content: space-between;
        width: 80%;
        align-items: center;
    }
    #contact-top{
        font-size: 3vw;
    }
    .links-of-contacts{
        height: 32vw;
    }
    .adress-and-mobile-phone-numbers{
        width: 45%;
        height: 20vw;
    }
    .info{
        height: 6vw;
        font-size: 1.6vw;
    }
    .links-of-social-platform{
        height: 20vw;
        width: 45%;
    }
    .social-media-icon{
        width: 3vw;
        height: 3vw;
    }
    .footer-info{
        width: 55%;
        justify-content: space-between;
    }
}


nav{
    display: flex;
}

.nav-elements{
    cursor: pointer;
    color: rgb(185, 185, 185);
    font-weight: 400;
    letter-spacing: 0.1vw;
}

.active-element{
    color: white;
    font-weight: 500;
    font-size: 2.5vw;
}

.passive-element{
    cursor: pointer;
    color: rgb(185, 185, 185);
    font-weight: 400;
    letter-spacing: 0.1vw;
    font-size: 1.3vw;
}

.section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vw 0 5vw 0;
    gap: 3vw;
    position: relative;
}

#contact-top{
    color: white;
    font-weight: 500;
}

.links-of-contacts{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.adress-and-mobile-phone-numbers{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    background-color: #486873;
    border-radius: 1vw;
    width: 100%;
    color: white;
}

.links-of-social-platform{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1vw;
    align-items: baseline;
    background-color: #486873;
    border-radius: 1vw;
}

.icon-link{
    display: flex;
    width: 100%;
    gap: 2vw;
    padding-left: 4vw;
    align-items: center;
    color: white;
}

.icon-link i{
    color: gray;
}

footer{
    background-color: black;
}

footer .section {
    padding: 3vw 0 3vw 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}
.footer-contact-homepage {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.footer-info{
    display: flex;
    align-items: center;
}

.footer-info h3{
    color: white;
}

.social-media-contacts {
    display: flex;
    align-items: center;
    gap: 1vw;
}


.social-media-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
}